extends layout

block content

	div(class="container")
		div(class="row")
			div(class="col-lg-12")
				h1 A better Bootstrap starter template.
				p Complete with pre-defined file paths that you won't have to change!
				input(type="button" class="btn btn-primary" id="createRoom" value="New Room")

			div(class="col-md-9")	
				ul(class="nav nav-tabs" id="rooms")
					li(class="active")
						a(href="#Lobby" data-toggle="tab") Lobby
						a(href="#" class="close" data-dismiss="alert" aria-hidden="true")×
				
				div(class="tab-content" id="roomContent")
					div(class="tab-pane active well messageBox" id="Lobby")
						
				input(type="text" class="form-control" id="input" placeholder="type here...")

			div(class="col-md-3")	
				div(class="well")				
					h4 Rooms		
						div(class="row")
							div(class="col-lg-12")		
								ul(class="list-unstyled" id="roomList")
									li 
										a(href="#") Lobby
	
				div(class="well")				
					h4 Rooms		
						div(class="row")
							div(class="col-lg-12")		
								ul(class="list-unstyled" id="userList")
									li 
										a(href="#") You     


				
					

					

				





	div(id="info")
	



	script(type='text/javascript', src= 'http://localhost:3000/socket.io/socket.io.js')
	each script in scripts
		script(type='text/javascript', src=  script)