body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

		#input{width: 200px;}
		#messages{
			height: 500px;
			top: 40px;
			bottom: 8px;
			left: 8px;
			right: 8px;
			border: 1px solid #eeeeee;
			padding: 8px;
		}